// Colors variables OR color combinations
// main colors
$royalBlue: #00539cff;
$peach: #eea47fff;
$blue: #2f3c7e;
$pink: #fbeaeb;
$white: white;
$dark-transparent:rgb(0,0,0,0.5);

// other colors
$hero-header-overlay: rgba(41, 36, 36, 0.7);
$hero-prof-color: rgba(132, 71, 79, 0.375);
$hobby-img-overlay: rgba(0, 0, 0, 0.5);
$darkgray: rgb(106, 104, 104);
$blk: black;
$rd: red;
$lightgray: rgba(246, 246, 246, 0.953);

// Fonts variables
$quickSand: "Quicksand";
$persian-nastaliq: IranNastaliq, "IranNastaliq", tahoma;
$varela: "Varela";
$play-fair: "Playfair Display", serif;
$oleo: "Oleo Script", cursive;
$barlow-condensed: "Barlow Condensed", sans-serif;
